<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
        <!-- <script>
            const socket = io.connect('http://' + document.domain + ':' + location.port);

            // When the page loads, fetch the initial status
            document.addEventListener('DOMContentLoaded', function () {
                updateStatus();
            });

            // Listen for status updates and update the HTML dynamically
            socket.on('status_update', function (data) {
                document.getElementById('currentlyMoving').innerText = data.status;
            });

            // Function to fetch the status from the server
            function updateStatus() {
                fetch('/get_status')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('currentlyMoving').innerText = data.status;
                    })
                    .catch(error => console.error('Error:', error));
            }

            // Optional: Periodically update the status (adjust the interval as needed)
            setInterval(updateStatus, 5000);
        </script> -->
        <title>Controller Page</title>
    </head>
    <body>
        <div class="container">
            <h1>Rohan's Smart Car Controller</h1>
            <h2>Live Stream</h2>
            <img src="http://{{ ip }}:8000/stream.mjpg" width="640" height="480"/>
            <h2>Controller</h2>
            <form id="directionForm" action="/direction" method="post">
                <h4 class="heading">Discrete Movements:</h4>
                <button class="btn btn-primary" type="submit" name="direction" value="moveLeft">Left</button>
                <button class="btn btn-primary" type="submit" name="direction" value="moveRight">Right</button>
                <button class="btn btn-primary" type="submit" name="direction" value="moveForward">Forward</button>
                <button class="btn btn-primary" type="submit" name="direction" value="moveBackward">Backward</button>
                <br>
                <h4>Continuous Movements:</h4>
                <button class="btn btn-primary" type="submit" name="direction" value="moveLeftContinuous">Left Continuous</button>
                <button class="btn btn-primary" type="submit" name="direction" value="moveRightContinuous">Right Continuous</button>
                <button class="btn btn-primary" type="submit" name="direction" value="moveForwardContinuous">Forward Continuous</button>
                <button class="btn btn-primary" type="submit" name="direction" value="moveBackwardContinuous">Backward Continuous</button>
                <br>
                <h4>Discrete Turning</h4>
                <button class="btn btn-primary" type="submit" name="direction" value="turnLeft">Turn Left</button>
                <button class="btn btn-primary" type="submit" name="direction" value="turnRight">Turn Right</button>
                <br>
                <h4>Continuous Turning</h4>
                <button class="btn btn-primary" type="submit" name="direction" value="turnLeftContinuous">Turn Left Continuous</button>
                <button class="btn btn-primary" type="submit" name="direction" value="turnRightContinuous">Turn Right Continuous</button>
                <h4>Stop:</h4>
                <button class="btn btn-danger" type="submit" name="direction" value="stop">Stop</button>
            </form>
        </div>
        <div id="currentlyMovingContainer">
            <h4>Currently Moving: <span id="currentlyMoving">Waiting for data...</span></h4>
        </div>        
    </body>

    <script>
        document.getElementById('directionForm').addEventListener('submit', function (event) {
            event.preventDefault();
            var direction = event.submitter.value;
            // console.log('Moving camera ' + direction);

            // Make an AJAX request to the server
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/direction', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log('Request successful');
                    } else {
                        console.error('Error:', xhr.status);
                    }
                }
            };
            xhr.send('direction=' + direction);
        });
    </script>
</html>